%ul.large-block-grid-4.main-display{data: {'equalizer' => true}}
  %li{data: {'equalizer-watch' => true}}
    =image_tag 'colbert.jpg'
  %li{data: {'equalizer-watch' => true}}
    =image_tag 'reddit.jpg'
  %li{data: {'equalizer-watch' => true}}
    =image_tag 'ruby5.jpg'
  %li{data: {'equalizer-watch' => true}}
    four
